
  .header-list .link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
      &:hover,
      &:focus {
      color: var(--accent-color);
      }
      &.current {
        color: var(--accent-color);
      }
  }
  
  .header {
    border-bottom: 1px solid #ececec;
      .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  
  .header-list__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  position: relative;
  transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
      &:hover::after {
        opacity: 1;
      }
  }
  
  .current::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity var(--animation-duration-hw-05) var(--bezier-hw-05);
  }
  
  .header-list__item:not(:last-child) {
    margin-right: 50px;
  }

    .header-list .link.current::after {
    color: var(--accent-color);
    opacity: 1;
  }
  
  .header-contacts {
    display: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      display: block;
      .contacts-item {
      padding-top: 0;
      padding-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  
  .header-mail,
  .header-tel {
    align-items: center;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    // padding-top: 32px;
    // padding-bottom: 32px;
    text-decoration: none;
    transition: color var(--animation-duration-hw-05) var(--bezier-hw-05);
        &:hover,
        &:focus {
        color: var(--accent-color);
        }
    @media screen and (min-width: 1200px) {
    display: flex;
    }
  }
  
  .icon-mail,
  .icon-tel {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .header-mail {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  .menu-open, 
  .menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: unset;
    color: var(--white-bgc-text-color);
    cursor: pointer;
  }

    .menu-open {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .menu-close {
    position: absolute;
    right: 15px;
    top: -37px;
  }

  .icon-menu-burger, 
  .icon-menu-close {
    width: 40px;
    height: 40px;
    fill: var(--title-text-color);
  }
  
  .mob-menu {
    position: fixed;
    background-color: var(--white-bgc-text-color);
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    z-index: 100;
    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .mob-menu__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  
  .mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    &-active {
      color: var(--accent-color);
    }
  }
  
  .menu-contacts__list {
    margin-bottom: 64px;
  }
  
  .menu-contacts__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  
  .menu-contacts__link__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  
  .menu-contacts__link__tel {
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
  }
  
  .menu-social__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  .menu-social__list {
    display: flex;
  }
  
  .menu-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    &:hover {
      color: var(--accent-color);
    }
  
    text-decoration: none;
  }
  .menu-social__item:not(:last-child) .menu-social__link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  
  .mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }